VITE_FIREBASE_API_KEY=AIzaSyApgYWAJEI9yX0gm-T6n0vWfg4q0q_axLE
VITE_FIREBASE_AUTH_DOMAIN=derelict-bicycle-system.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=derelict-bicycle-system
VITE_FIREBASE_STORAGE_BUCKET=derelict-bicycle-system.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1023449299442
VITE_FIREBASE_APP_ID=1:1023449299442:web:8ed9531d887ca01d9e936b
VITE_FIREBASE_MEASUREMENT_ID=G-Y6VHE7WTL1
VITE_CLOUDINARY_CLOUD_NAME=dfx4gmwvm
VITE_CLOUDINARY_UPLOAD_PRESET=dbms_unsigned
VITE_SESSION_TIMEOUT_MINUTES=15

